<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Conversor{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <a href="{{ url_for('main.dashboard') }}">Conversor</a> |
        <a href="{{ url_for('main.perfil') }}">Perfil</a> |
        <a href="{{ url_for('auth.logout') }}">Sair</a>
    </nav>
    <main>
        {# BLOCO PARA EXIBIR MENSAGENS FLASH #}
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <div class="flashes">
            {% for category, message in messages %}
              <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
            </div>
          {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </main>
</body>
</html>